# Keystatic (GitHub mode)
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=

## Keystatic (GitHub mode)
# KEYSTATIC_GITHUB_CLIENT_ID=Iv1....
# KEYSTATIC_GITHUB_CLIENT_SECRET=....
# KEYSTATIC_SECRET=....
# PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=your-github-app-slug

